In [21]:
import numpy as np
import sklearn.cluster
import pandas as pd
Circular_df = pd.read_csv('..\..\CSV\Parsed Data\Circular.csv')

In [2]:
Circular_df.head()

,word,n_gram_score,pos,frequency,tf_idf,inf,match_count,volume_count,source
0,free,2,JJ,100,0.090033,-0.018395,68139641,3033401,1
1,matrix,2,NN,62,0.055820,-0.013670,10320779,527649,1
2,unitary,2,JJ,42,0.037814,-0.010510,905129,220821,1
3,follows,2,VBZ,40,0.036013,-0.010159,32209213,2493640,1
4,circular,2,JJ,38,0.034212,-0.009800,5956410,1186938,1

In [3]:
words=np.array(Circular_df['word'])

In [22]:
import Levenshtein

In [23]:
lev_similarity = -1*np.array([[Levenshtein.distance(w1,w2) for w1 in words] for w2 in words])

affprop = sklearn.cluster.AffinityPropagation(affinity="precomputed", damping=0.5)
affprop.fit(lev_similarity)
centroids = []
clusters=[]
for cluster_id in np.unique(affprop.labels_):
    exemplar = words[affprop.cluster_centers_indices_[cluster_id]]
    cluster = np.unique(words[np.nonzero(affprop.labels_==cluster_id)])
    cluster_str = ", ".join(cluster)
    centroids.append(exemplar)
    clusters.append(cluster_str)

In [24]:
len(centroids)

203

In [27]:
cols = ['centroid','clusters']
cluster_df=pd.DataFrame(columns=cols)
cluster_df['centroid']=centroids
cluster_df['clusters']=clusters

In [28]:
cluster_df.head()

   centroid                                           clusters
0    matrix  Kavruk, Matrix, Parrilo, math ufl, matrices, m...
1   unitary  Iwasaki, McCarthy, Primary, Putinar, Similarly...
2  circular  Circular, Corollary, bipolar, calculus, circul...
3    pencil  Appendix, Berezin, Council, Francis, Manuscrip...
4    convex         Convex, context, convex, convexEW, longest

In [30]:
cluster_df.to_csv('..\..\CSV\Parsed Data\Clusters.csv')

In [3]:
All_df = pd.read_csv('..\..\CSV\Parsed Data\All.csv')

In [4]:
All_df.head()

       word  n_gram_score  pos  frequency    tf_idf       inf  source
0      free             2   JJ        100  0.089085 -0.018282       1
1    matrix             2   NN         62  0.055232 -0.013575       1
2   unitary             2   JJ         42  0.037416 -0.010433       1
3   follows             2  VBZ         40  0.035634 -0.010084       1
4  matrices             2  NNS         38  0.033852 -0.009727       1

In [5]:
words_all=np.array(All_df['word'])

In [9]:
lev_similarity = -1*np.array([[Levenshtein.distance(w1,w2) for w1 in words_all] for w2 in words_all])

affprop = sklearn.cluster.AffinityPropagation(affinity="precomputed", damping=0.5)
affprop.fit(lev_similarity)
centroids_All = []
clusters_All=[]
for cluster_id in np.unique(affprop.labels_):
    exemplar = words_all[affprop.cluster_centers_indices_[cluster_id]]
    cluster = np.unique(words_all[np.nonzero(affprop.labels_==cluster_id)])
    cluster_str = ", ".join(cluster)
    centroids_All.append(exemplar)
    clusters_All.append(cluster_str)

In [10]:
cols = ['centroid','clusters']
Cluster_df=pd.DataFrame(columns=cols)
Cluster_df['centroid']=centroids_All
Cluster_df['clusters']=clusters_All

In [15]:
Cluster_df.to_csv('..\..\CSV\Parsed Data\Clusters_All.csv')

In [11]:
Cluster_df.head()

        centroid                                           clusters
0           free  Drell, Free, Freese, Frem, Green, Street, agre...
1         matrix  Harry-Dym, Kavruk, Matrix, Parrilo, Ratiu, had...
2        unitary  FuOn FOOO, Hagiwara, Library, Putinar, Solitar...
3  free circular       Free Circular, free circular, free convexity
4         linear  Eitner, Hungar, LevineTabor, Linear, LlibreZha...

In [14]:
Cluster_df.shape()

TypeError: 'tuple' object is not callable

In [23]:
Matters_df = pd.read_csv('..\..\CSV\Parsed Data\Matters_Properties.csv')
Matters_df.head()

,word,n_gram_score,pos,frequency,wordCount,match_count,volume_count,source
0,energy,2,NN,3096,145045,43507422,2246600,1
1,negative,2,JJ,1757,145045,23210294,1900108,1
2,positive,2,JJ,1162,145045,29305049,2193038,1
3,gravitational,2,JJ,1003,145045,1074269,152691,1
4,symmetry,2,NN,994,145045,3025452,545690,1

In [24]:
words_Matters=np.array(Matters_df['word'])

In [ ]:
lev_similarity = -1*np.array([[Levenshtein.distance(w1,w2) for w1 in words_Matters] for w2 in words_Matters])

affprop = sklearn.cluster.AffinityPropagation(affinity="precomputed", damping=0.5)
affprop.fit(lev_similarity)
centroids_Matters = []
clusters_Matters=[]
for cluster_id in np.unique(affprop.labels_):
    exemplar = words_Matters[affprop.cluster_centers_indices_[cluster_id]]
    cluster = np.unique(words_Matters[np.nonzero(affprop.labels_==cluster_id)])
    cluster_str = ", ".join(cluster)
    centroids_Matters.append(exemplar)
    clusters_Matters.append(cluster_str)

In [ ]:
cols = ['centroid','clusters']
Matters_df=pd.DataFrame(columns=cols)
Matters_df['centroid']=centroids_Matters
Matters_df['clusters']=clusters_Matters
Matters_df.to_csv('..\..\CSV\Parsed Data\Clusters_Matters.csv')